@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

input::-ms-reveal {
    display: none;
}

input::-ms-clear {
    display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
    margin-right: 24px;
}

.input {
@apply w-full border border-gray-300 p-3 rounded-lg focus:ring-2 text-gray-500 focus:ring-hub-primary focus:outline-none bg-white;}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* === Primary === */
--color-hub-primary: var(--color-hub-primary);
--color-hub-secondary: #09950b; 
  --color-hub-primary: #057a09;       
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  @apply border border-gray-200 rounded-xl bg-white text-gray-950 shadow-md;
}

